<template>
    <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">
                    BTC - USD
                </h4>
            </div>
            <div class="card-body">
                <div class="py-4 fw-bold fs-3">
                    <!-- ${{currentCurrency.BTC}} -->
                </div>
                <div class="d-flex">
                    <button
                        type="button"
                        class="w-100 btn btn-lg btn-outline-primary me-1"
                    >
                        Details
                    </button>
                    <button
                        type="button"
                        class="w-100 btn btn-lg btn-outline-danger ms-1"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>


