<template>
    <div>
        <h2 class="text-start mt-5">
            Graphic
        </h2>
        <hr>
        <!-- <BarChart /> -->
    </div>
</template>

<script>
    // import BarChart from "@/components/BarChart.vue";

    // export default {
    //     name: "BarChart",
    //     components: {
    //         BarChart,
    //     },
    // };
</script>