<template>
    <div>
        <div class="input-group">
            <input
                v-model.lazy="coin"    
                type="text"
                class="form-control"
                :class="{ 'is-invalid': error }"
                placeholder="Enter cryptocurrency here"
            >
        
            <select
                v-model="selected"
                class="form-select max-width"
                aria-label="Default select example"
                :value="selected"
            >
                <Select 
                    v-for="cur of currency"
                    :key="cur.id"
                    :cur="cur.title"
                />
            </select>
        
            <button
                class="btn btn-outline-primary col-3"
                @click="addCrypto"
            >
                Add currency
            </button>
        </div>
        <div
            v-if="error"
            class="text-danger text-start mt-3"
        >
            {{ errorsText }}
        </div>
    </div>
</template>

<script>
    import Select from "@/components/homeTemplates/Add/SelectValue";
    import axios from "axios";

    export default {
        components: {
            Select,
        },
        props: 
            {
                cur: {
                    type: String,
                    required: true,
                },
            },
        data() {
            return {
                coin: "",
                localCoin: {},
                selected: "Choose",
                error: false,
                errorsText: "",
                currency: [
                    {id: "UAH", title: "UAH",},
                    {id: "USD", title: "USD",},
                    {id: "EUR", title: "EUR",},
                    {id: "JPY", title: "JPY",},
                    {id: "CAD", title: "CAD",},
                    {id: "CHF", title: "CHF",},
                    {id: "GBP", title: "GBP",},
                ],
            };
        },
        beforeMount() {
            
        },
        mounted() {
            this.selected = this.value;
            
        },
        methods: {
            addCrypto: function() {
                if(this.coin == "") {
                    this.error = true;
                    this.errorsText = "Empty line";
                } else if (this.coin.length > 4){
                    this.error = true;
                    this.errorsText = "Error. It's not crypto";
                } else { 
                    this.error = false;
                    let url = `https://min-api.cryptocompare.com/data/price?fsym=${this.coin}&tsyms=${this.selected}`;
                    axios
                        .get(url)
                        .then(response  => {
                            if (response.data.Response != "Error") {
                                localStorage.setItem(`${this.coin} - ${this.selected}`, this.localCoin[this.coin] = response.data[this.selected]);
                            } else {
                                this.error = true;
                                this.errorsText = "Sorry, there is no such cryptocurrency ";
                            }
                        })
                        .catch(function(error) {
                            this.error = true;
                            alert(error);
                        });
                }
            },
        },
    };
</script>
