<template>
    <option :value="cur">
        {{ cur }}
    </option> 
</template>

<script>
    export default {
        props: {
            cur: {
                type: String,
                default: "Not set",
                required: true,
            },
        },
    };
</script>
