<template>
    <div>
        <!-- SEARCH BLOCK -->
        <h2 class="text-start">
            Add new currency
        </h2>
        <hr>
        <AddCurrency v-bind="currency" />

        <h2 class="text-start mt-5">
            Filter
        </h2>
        <hr>

        <!-- FILTERS BLOCK -->
        <div class="row">
            <Filters />
        </div>
        <hr>

        <!-- MAIN BLOCK -->
        <main class="mt-3">
            <Main />
        </main>

        <!-- CHART BLOCK -->
        <div v-if="selectedPair">
            <h2 class="text-start mt-5">
                Graphic
            </h2>
            <hr>
            <BarChart />
        </div>
    </div>
</template>

<script>
    import AddCurrency from "@/components/homeTemplates/Add/AddCurrency";
    import Main from "@/components/homeTemplates/Main";
    import Filters from "@/components/homeTemplates/Filters";
    import BarChart from "@/components/BarChart";
    import {
        GET_CURRENCY,
        GET_CRYPTO_CURRENCY
    } from "@/store/modules/currency/types/getters";
    import { FETCH_CURRENCY } from "@/store/modules/currency/types/actions";
    import namespace from "@/store/modules/currency/namespace";
    import { mapGetters, mapActions } from "vuex";

    export default {
        components: {
            AddCurrency,
            Main,
            Filters,
            BarChart,
            
        },
        data() {
            return {
                selectedPair: "some-pair",
                currentCurrency: {BTC: "",},
            };
        },
        computed: {
            ...mapGetters(namespace, {
                currency: GET_CURRENCY,
                cryptoCurrency: GET_CRYPTO_CURRENCY,
            }),
        },
        mounted() {
            this.fetchCurrency();
        },
        methods: {
            ...mapActions(namespace, {
                fetchCurrency: FETCH_CURRENCY,
            }),
        },
    };
</script>


<style lang="scss" scoped>
.max-width {
  max-width: 15%;
}
</style>
