<template>
    <div>
        <Header />
        <div
            id="app"
            class="container py-3"
        >
            <router-view />
        </div>
    </div>
</template>

<script>
    import Header from "@/components/Header";

    export default {
        components: {
            Header,
        },
        // data() {
        //     return {
        //         currentCurrency: {BTC: "",},
        //     };
        // },
        // created() {
        //     if ( ! navigator.onLine) {
        //         this.currentCurrency = {
        //             BTC: localStorage.getItem("BTC"),
        //         };}
        // },
        // methods: {
        //     _fetchDataForToday: () => {
        //         let url = "https://min-api.cryptocompare.com/data/price?fsym=BTC&tsyms=USD";
        //         this.axios.get(url).then(res => {
        //             localStorage.setItem("BTC", this.currentCurrency.BTC = res.data.BTC.USD);
        //         });
        //     },
            
        // },
    };
</script>

<style lang="scss">
    #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
    }
</style>
